# IDEA
.idea
*iml
.DS_Store
gs

src/main/java/org/tron/p2p/protos

# gradle
.gradle
build

# log
logs

# lombok
out

# doc
doc

# gossip
pernodedata.*
ringstate.*
shareddata.*

# Eclipse IDE specific files and folders
/.project
/.classpath
/.settings/
/.apt_generated/

/src/test/java/org/tron/p2p/dns/PublishTest.java
